# Add any directories, files, or patterns you don't want to be tracked by version control
__pycache__/
.idea/
*.csv
*.gsheet
*.swp
*.log

008366239_1241

*.pyc

debug\.log\.1

results/*

\.cache/v/cache/

tests/\.cache/v/cache/

~

tests/testFiles/diamondsFiles/KICtestKIC\.txt

tests/testFiles/playground/fits_123456789\.fits

tests/testFiles/diamondsFiles/background/results/KIC123456789/background_hyperParameters\.txt

tests/testFiles/diamondsFiles/background/results/KIC123456789/background_hyperParameters_noise\.txt

kicList\.txt

venv/

\.DS_Store

6424157\.dat

6424157\.dat\.gz

KIC6424157\.txt

\.pytest_cache/v/cache/

tests/\.pytest_cache/v/cache/

info\.log\.1

*.png

*noiseResults*
tempfile\.txt

\.coverage

cc-test-reporter

coverage\.xml

ys_everest_endurance\.json

ys_test\.json

ys_test_endurance\.json

rg_enrico\.json
